.glimpse-card {
    height: 400px;
    background: linear-gradient(89.35deg, rgba(241, 241, 241, 0.8) 31.39%, rgba(255, 255, 255, 0) 99.74%), url("../../assets/images/SubAbout3.jpg") !important;
    background-repeat: no-repeat;
    background-size:cover;
}

.ways-image {
    position: absolute; right: 0; bottom:0; width: 80px;
}

.card-about-1 {
    background: rgba(35, 61, 213, 0.8);
}
/* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.1590968383543!2d77.2273223!3d28.5349373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce227b6e6ca7b%3A0xe728c244a124a4!2sShaheed%20Bhagat%20Singh%20College!5e0!3m2!1sen!2sin!4v1680373025378!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> */