.yash{

}
@media screen and (max-width: 991px) {
 .yash{
/* width: 74% !important; */
/* width: 200rem; */
width: 0 !important;
margin-left: 3em !important;
 }
}
@media screen and (max-width: 400px) {
 /* .done{
  display: none;
 } */
}
@media screen and (max-width: 1200px) {
 /* .done{
  display: none;
 } */
 .navbar_full{
    margin-left: 0rem !important;
}
}
.icon{
    color: #181818;
}
.navbar_full{
    margin-left: 18rem;
}
.final_logo{
    display: none;
}
@media screen and (max-width: 991px) {
    .navbar_full{
        padding: 0px !important;
        padding-right: 21px !important;
    }
    .final_logo{
        display: block;
        width: 250px !important;
        margin-left: -80px !important;
        /* margin-right: 0px !important; */
    }
    .logo{
        display: none !important;
        /* visibility: hidden !important; */
    }
   }

   .heading-text{
    color: #181818;
    font-family: sen; 
   }
   .heading-text_editorail{
    /* color: #181818;
     font-family: sen; 
     text-align: center; */
     /* word-spacing: 10px !important; */
   }
    
   .yash_{
    color: #181818;
    font-family: sen;
    text-align: center;
    white-space: nowrap;
   }


   .united{
    height: 30rem !important;
    width: 70rem !important;
   }
   @media screen and (max-width: 390px) {
    .navbar_full{
        padding: 0px !important;
        padding-right: 21px !important;
    }
    .final_logo{
        display: block;
        width: 250px !important;
        margin-left: -40px !important;
        /* margin-right: 0px !important; */
    }
    .logo{
        display: none !important;
        /* visibility: hidden !important; */
    }
   }