.yash{

}
@media screen and (max-width: 991px) {
 .yash{
/* width: 74% !important; */
/* width: 200rem; */
width: 0 !important;
margin-left: 3em !important;
 }
}
@media screen and (max-width: 400px) {
 /* .done{
  display: none;
 } */
}
.icon{
    color: #181818;
}